<h1>Artists</h1>
<p id="notice"><%= notice %></p>

<% @artists.each do |artist| %>
  <div class="artists">
    <h2><%= link_to artist.name, artist %></h2>
    <p><%= artist.genre %> | <%= link_to "#{artist.songs.count} Songs", artist %> |
    <%= link_to "<button>Edit Info</button>".html_safe, edit_artist_path(artist) %>
    <%= link_to "<button>Remove Artist</button>".html_safe, artist, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<br>

<nav>
  <%= link_to "<button>Add New Artist</button>".html_safe, new_artist_path %>
  <%= link_to "<button>Show All Songs</button>".html_safe, songs_path %>
  <%= link_to "<button>Show Top 10</button>".html_safe, top10_songs_url %>
</nav>