<h1>Songs</h1>
<p id="notice"><%= notice %></p>

<table class="songs_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Duration</th>
      <th>Released at</th>
      <th>Play Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= link_to song.artist.name, song.artist %></td>
        <td><%= format_duration song.duration %></td>
        <td><%= song.released_at %></td>
        <td><%= song.play_count.size %></td>
        <td><%= link_to "<button>Show</button>".html_safe, song %></td>
        <td><%= link_to "<button>Edit</button>".html_safe, edit_song_path(song) %></td>
        <td><%= link_to "<button>Delete</button>".html_safe, song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav>
  <%= link_to "<button>Add New Song</button>".html_safe, new_song_path %>
  <%= link_to "<button>Show Top 10</button>".html_safe, top10_songs_url %>
  <%= link_to "<button>Back to Artists</button>".html_safe, artists_path %>
</nav>
