<h1 class="<%= @color_scheme %>">
  <%= @song.name %>
</h1>

<div class="songs">
  <p id="notice"><%= notice %></p>
    
  <p>
    <strong>Artist:</strong>
    <%= link_to @song.artist.name, @song.artist %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= format_duration @song.duration  %>
  </p>

  <p>
    <strong>Released at:</strong>
    <%= @song.released_at %>
  </p>
</div>

<nav>
  <%= link_to "<button class=\"#{@color_scheme}\">Play Song</button>".html_safe, play_song_url(@song) %>
  <%= link_to "<button class=\"#{@color_scheme}\">Edit Song</button>".html_safe, edit_song_path(@song) %>
  <%= link_to "<button class=\"#{@color_scheme}\">Back</button>".html_safe, songs_path %>
</nav>